play_app/logs
play_app/project/project
play_app/project/target
play_app/target
play_app/tmp
play_app/.history
play_app/dist
play_app/.idea
play_app/*.iml
play_app/out
play_app/.idea_modules
play_app/.classpath
play_app/.project
play_app/RUNNING_PID
play_app/.settings
