@(id: String, actor: Form[CreateActorForm])(implicit request: Request[_], flash: Flash)

@import views.html.bootstrap3._

@main("Edycja aktora") {
    <div class="col">
        @alerts(flash)
        @helper.form(controllers.routes.ActorController.updateActorHandler(id)) {
            @helper.CSRF.formField
            @text(actor("firstName"), "Imię")
            @text(actor("lastName"), "Nazwisko")
            @text(actor("img"), "Zdjęcie")
            @submit("Edytuj")
        }
    </div>

}



