@import views.html.bootstrap3.alerts

@()(implicit flash: Flash)
@main("Ekran główny") {
    <div class="col-12">
        @alerts(flash)
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.UserController.getAll()">
                        <h4 class="card-title text-center text-dark">Użytkownicy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.MovieController.getAll()">
                        <h4 class="card-title text-center text-dark">Filmy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.GenreController.getAll()">
                        <h4 class="card-title text-center text-dark">Gatunki</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.DirectorController.getAll()">
                        <h4 class="card-title text-center text-dark">Reżyserzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.ActorController.getAll()">
                        <h4 class="card-title text-center text-dark">Aktorzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.CommentController.getAll()">
                        <h4 class="card-title text-center text-dark">Komentarze</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.RatingController.getAll()">
                        <h4 class="card-title text-center text-dark">Oceny</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.OrderController.getAll()">
                        <h4 class="card-title text-center text-dark">Zamówienia</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.PaymentController.getAll()">
                        <h4 class="card-title text-center text-dark">Płatności</h4>
                    </a>
                </div>
            </div>

        </div>
    </div>


}