@main("Ekran główny") {
    <div class="col-12">
        <div class="row">
            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.UserController.getAll()">
                        <h4 class="card-title text-center text-info">Użytkownicy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.MovieController.getAll()">
                        <h4 class="card-title text-center text-info">Filmy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.GenreController.getAll()">
                        <h4 class="card-title text-center text-info">Gatunki</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.DirectorController.getAll()">
                        <h4 class="card-title text-center text-info">Reżyserzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.ActorController.getAll()">
                        <h4 class="card-title text-center text-info">Aktorzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.CommentController.getAll()">
                        <h4 class="card-title text-center text-info">Komentarze</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.RatingController.getAll()">
                        <h4 class="card-title text-center text-info">Oceny</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.OrderController.getAll()">
                        <h4 class="card-title text-center text-info">Zamówienia</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.PaymentController.getAll()">
                        <h4 class="card-title text-center text-info">Płatności</h4>
                    </a>
                </div>
            </div>

        </div>
    </div>


}