@(director: Form[CreateDirectorForm])(implicit request: Request[_], flash: Flash)

@import views.html.bootstrap3._

@main("Dodaj reżysera") {
    <div class="col">
        @alerts(flash)
        @helper.form(controllers.routes.DirectorController.createDirectorHandler()) {
            @helper.CSRF.formField
            @text(director("firstName"), "Imię")
            @text(director("lastName"), "Nazwisko")
            @text(director("img"), "Zdjęcie")
            @submit()
        }
    </div>

}



