@(user: Form[CreateUserForm])(implicit request: MessagesRequestHeader, flash: Flash)


@import views.html.bootstrap3._

@main("Dodaj użytkownika") {
    <div class="col">
        @if(flash.get("error")) {
            <div class="alert alert-danger" role="alert">
            @flash.get("error").getOrElse("")
            </div>
        }
        @if(flash.get("success")) {
            <div class="alert alert-success" role="alert">
            @flash.get("success").getOrElse("")
            </div>
        }

        <fieldset>

        @helper.form(controllers.routes.UserController.createUserHandler()) {
            @helper.CSRF.formField
            @text(user("firstName"), "Imię")
            @text(user("lastName"), "Nazwisko")
            @text(user("email"), "E-mail")
            @password(user("password"), "Hasło")
            <br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="submit" value="Submit" class="btn btn-primary">Dodaj</button>
                </div>
            </div>
        }
        </fieldset>
    </div>

}



