@(id: String, user: Form[CreateUserForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import views.html.bootstrap3._

@main("Edycja użytkownika") {
    <div class="col">
        @alerts(flash)
        @helper.form(controllers.routes.UserController.updateUserHandler(id)) {
            @helper.CSRF.formField
            @text(user("firstName"), "Imię")
            @text(user("lastName"), "Nazwisko")
            @text(user("email"), "E-mail")
            @text(user("password"), "Hasło")
            @submit("Edytuj")
        }
    </div>

}



