@(order: Form[CreateOrderForm], users: Seq[User], payments: Seq[Payment], movies: Seq[Movie])(implicit request: MessagesRequestHeader, flash: Flash)

@import views.html.bootstrap3._

@main("Złóż zamówienie") {
    <div class="col">
        @alerts(flash)
        @helper.form(controllers.routes.OrderController.createOrderHandler()) {
            @helper.CSRF.formField
            <div class="form-group">
                <label class="col-sm-2 control-label">Użytkownik</label>
                <div class="col-sm-10">
                    <select
                    class="form-control"
                    id="user"
                    name="user">
                    @for(u <- users) {
                        <option id="@u.id" value="@u.id" >@u.firstName @u.lastName</option>
                    }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Filmy</label>
                <div class="col-sm-10">
                    <select
                    multiple
                    class="form-control"
                    id="movies[]"
                    name="movies[]">
                    @for(m <- movies) {
                        <option id="@m.id" value="@m.id" >@m.title</option>
                    }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Typ płatności</label>
                <div class="col-sm-10">
                    <select
                    class="form-control"
                    id="payment"
                    name="payment">
                    @for(p <- payments) {
                        <option id="@p.id" value="@p.id" >@p.name</option>
                    }
                    </select>
                </div>
            </div>
            @submit()
        }
    </div>

}



