@import models.Movie
@(movies: Seq[Movie])
@main("Filmy") {
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%" scope="col">#</th>
                <th scope="col">Tytul</th>
                <th scope="col">Opis</th>
                <th scope="col">Cena</th>
                <th scope="col">Rok produkcji</th>
            </tr>
        </thead>
        <tbody>
        @for(movie <- movies) {
            <tr>
                <th scope="row">@movie.id</th>
                <td><a href="@controllers.routes.MovieController.get(movie.id)">@movie.title</a></td>
                <td>@(movie.description.substring(0, 64))...</td>
                <td>@movie.price zł</td>
                <td>@movie.productionYear</td>
            </tr>
        }
        </tbody>
    </table>
}
