@import models.Movie
@(movie: Movie, comments: Seq[(Comment, User)], ratings: Seq[(Rating, User)], actors: Seq[Actor], directors: Seq[Director], genres: Seq[Genre])

@main(movie.title) {

    <div class="col-12">
        <h4 class="border-bottom pb-3">
            <span class="badge badge-secondary mr-4">@movie.productionYear</span>
            @for(genre <- genres) {
                <span class="badge px-1"><a href="@controllers.routes.GenreController.get(genre.id)">@genre.name</a></span>
            }
            <span class="float-right badge badge-primary">@movie.price zł</span>
        </h4>
        <p>@movie.description</p>

        @if(!directors.isEmpty) {
            <div class="my-4 py-3">
                <h5 class="mb-3">@if(directors.length > 1) {Reżyserzy} else {Reżyser}</h5>
                <ul class="list-group">
                @for(director <- directors) {
                    <li class="list-group-item"><a href="@controllers.routes.DirectorController.get(director.id)">@director.firstName @director.lastName</a></li>
                }
                </ul>
            </div>
        }

        @if(!actors.isEmpty) {
            <div class="my-4 py-3">
                <h5 class="mb-3">Obsada</h5>
                <ul class="list-group">
                @for(actor <- actors) {
                    <li class="list-group-item"><a href="@controllers.routes.ActorController.get(actor.id)">@actor.firstName @actor.lastName</a></li>
                }
                </ul>
            </div>
        }

        @if(!comments.isEmpty) {
            <div class="my-4 py-3">
                <h5 class="mb-3">Komentarze</h5>
                <ul class="list-group">
                @for(comment <- comments) {
                    <li class="list-group-item">@comment._2.firstName @comment._2.lastName: @comment._1.content</li>
                }
                </ul>
            </div>
        }

        @if(!ratings.isEmpty) {
            <div class="my-4 py-3">
                <h5 class="mb-3">Oceny</h5>
                <ul class="list-group">
                @for(rating <- ratings) {
                    <li class="list-group-item">@rating._2.firstName @rating._2.lastName: @rating._1.value</li>
                }
                </ul>
            </div>
        }


    </div>
    <hr>
    <div class="col-12 mt-5 border-top pt-3">
        <a href="@controllers.routes.MovieController.getAll()" class="btn btn-outline-dark btn-sm" role="button" aria-disabled="true">
            Lista filmów</a>
    </div>
}

