@(
        id: String,
        movie: Form[CreateMovieForm],
        selectedActors: Seq[String],
        actors: Seq[Actor],
        selectedDirectors: Seq[String],
        directors: Seq[Director],
        selectedGenres: Seq[String],
        genres: Seq[Genre]
)(implicit request: MessagesRequestHeader, flash: Flash)

@import views.html.bootstrap3._

@main("Edycja filmu") {
    <div class="col">
        @alerts(flash)
        @helper.form(controllers.routes.MovieController.updateMovieHandler(id)) {
            @helper.CSRF.formField
            @text(movie("title"), "Tytuł")
            @textarea(movie("description"), "5", "Opis filmu")
            @text(movie("productionYear"), "Rok premiery")
            @number(movie("price"), "Cena", step = "0.01")
            @text(movie("img"), "Adres url okładki")

            <div class="form-group">
                <label class="col-sm-2 control-label">Reżyserzy</label>
                <div class="col-sm-10">
                    <select
                    multiple
                    class="form-control"
                    id="directors[]"
                    name="directors[]">
                    @for(d <- directors) {
                        @if(selectedDirectors.contains(d.id)) {
                            <option selected id="@d.id" value="@d.id" >@d.firstName @d.lastName</option>
                        } else {
                            <option id="@d.id" value="@d.id" >@d.firstName @d.lastName</option>
                        }

                    }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Aktorzy</label>
                <div class="col-sm-10">
                    <select
                    multiple
                    class="form-control"
                    id="actors[]"
                    name="actors[]">
                    @for(a <- actors) {
                        @if(selectedActors.contains(a.id)) {
                            <option selected id="@a.id" value="@a.id" >@a.firstName @a.lastName</option>
                        } else {
                            <option id="@a.id" value="@a.id" >@a.firstName @a.lastName</option>
                        }
                    }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Gatunki</label>
                <div class="col-sm-10">
                    <select
                    multiple
                    class="form-control"
                    id="genres[]"
                    name="genres[]">
                    @for(g <- genres) {
                        @if(selectedGenres.contains(g.id)) {
                            <option selected id="@g.id" value="@g.id" >@g.name</option>
                        } else {
                            <option id="@g.id" value="@g.id" >@g.name</option>
                        }
                    }
                    </select>
                </div>
            </div>
            @submit("Edytuj")
        }
    </div>

}



